<h2>{{localize "FindTheCulprit.FoundTheCulprit.Header"}}</h2>
<ul class="ftc-module-list">
  <li data-active="true" data-tooltip="{{localize "FindTheCulprit.CurrentlyActive"}}"><i class="fa-solid fa-check"></i>{{culpritTitle}}</li>
</ul>