
<p>{{~localize "FindTheCulprit.IPWOS.BlameCoreOrSystem"~}} 
{{~#if pinned.length~}}
  {{~localize "FindTheCulprit.IPWOS.BlameModules"~}}</p>  
  <ul class="ftc-module-list">
    {{#each pinned}}
      <li>
        <i class="fa-solid fa-thumbtack" data-state="pinned"></i>
        <label>{{ftc-modTitle id}}</label>
      </li>
    {{/each}}
  </ul>
{{~else~}}
  .</p>
{{~/if~}}