<form>
  <p>
    {{#if chosen.length}}
      {{localize "FindTheCulprit.IPWOS.BlameModules"}}
      <ul class="ftc-module-list">
      {{#each chosen}}
        <li>- {{title}}</li>
      {{/each}}
      </ul>
    {{else}}
      {{localize "FindTheCulprit.IPWOS.BlameCoreOrSystem"}}
    {{/if}}
  </p>
</form>