.find-the-culprit-app {
  &.ftc-dialog .standard-form {
    footer.form-footer button {
      min-width: 130px;
    }
  }

  .standard-form,
  &.standard-form {
    row-gap: 0;
  }
  .window-content {
    padding-top: 0.5rem;
  }
  div.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      min-width: fit-content;
      flex-grow: 3;
      flex-shrink: 1;
      padding: 0.5rem;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: unset;
    border: none;
    text-align: center;
  }

  .ftc-module-list {
    margin: 0.25rem 0;
    background: rgba(0, 0, 0, 0.05);
    border: 2px inset #6666;
    .theme-dark & {
      border-color: var(--color-light-4);
    }
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;

    li {
      display: grid;
      grid-template-columns: clamp(10px, 1.2rem, 40px) clamp(12px, 1.6rem, 56px) auto;
      column-gap: clamp(1px, 0.1rem, 10px);
      vertical-align: middle;

      .module-active {
        color: var(--color-level-success);
      }

      .module-inactive {
        color: var(--color-level-warning);
      }

      .module-selected {
        color: var(--color-dark-4);
      }
      .module-culprit {
        color: var(--color-level-error);
      }

      &:not(:first-child) {
        border-top: 1px dashed #6666;
      }

      span {
        display: flex;
        justify-content: center;
      }

      label {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        &.checkboxless {
          grid-column: span 2;
        }
        &.ftc-lock-container {
          text-align: center;
          font-size: 80%;
          &:has(input[disabled]) i {
            transform: rotate(180deg);
          }
        }
      }

      input.ftc-checkbox {
        &:checked {
          background-image: radial-gradient(
            circle at 50% 50%,
            var(--checkbox-disabled-color) 0%,
            var(--checkbox-disabled-color) 54%,
            transparent 55%
          );
          &:disabled {
            background-image: radial-gradient(
              circle at 50% 50%,
              var(--checkbox-checked-color) 0%,
              var(--checkbox-checked-color) 50%,
              transparent 51%
            );
          }
        }
        .theme-light & {
          filter: drop-shadow(var(--checkbox-disabled-color) 0.1em 0.1em 0.1em);
        }
        .theme-dark & {
          filter: drop-shadow(var(--color-cool-3) 0.1em 0.1em 0.1em);
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  footer.form-footer {
    gap: clamp(3px, 0.1rem, 20px);
  }
}
